@font-face { /* Imports the F1 Font */
    font-family: 'FormulaOne';
    src: url('Fonts/Formula1-Regular.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}


.td {
    color: black;
}

body {
    font-family: 'FormulaOne';
}

.button {
    font-family: 'FormulaOne';
}

.image {
    margin: 75px;
}

.is-huge {
    width: 600px;
    height: 300px;
    border-color: black;
    font-size: 40px;
}

.add-race-border {
    border: black 2px solid;
    width: 100%;
    margin-bottom: 50px;
}

.number-table-header {width: 5%;}

.race-table-header {width: 20%;}

.winner-table-header {width: 25%;}

.constructor-table-header {width: 25%;}

.date-table-header {Width: 10%;}

.laps-table-header {width: 5%;}

.time-table-header {Width: 10%;}

.fullheight {
    height: 100%;
}



.stat-button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
}

.table-header:hover {
    background: lightgray;
}

